body{
font-family: 'Comfortaa', cursive;
  margin: 0px;
  padding: 0px;
  
  overflow-x: hidden;
}

.topnav{
    overflow: hidden;
  background-color: #30abb7;
}

.topnav a {
  float: left;
  display: block;

  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.boton{
    color: #f2f2f2;
}

.menutexto{
padding: 20px;
}

.topnav a:hover {
  background-color: #29909a;
  text-decoration: none;
}

.textpoke{
  color: #fff900;
}

.poke{
overflow-y: hidden;
opacity: 0.5;
transition: all 0.5s ease-in-out;
height: 91vh;
}