body{
font-family: 'Comfortaa', cursive;
  margin: 0px;
  padding: 0px;
  
  overflow-x: hidden;
}

.topnav{
    overflow: hidden;
  background-color: red;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.menutexto{
padding: 20px;
}

.poke{
overflow-y: hidden;
opacity: 0.5;
transition: all 0.5s ease-in-out;
height: 91vh;
}